<h1>Anagram Checker</h1>

<form action="/result" method="post">
  <label for="primary-input">Enter a word</label>
  <input name="primary-input" id="primary-input" required type="text">

  <h3>Check with these words:</h3>
  <label for="first-input">Word #1</label>
  <input name="first-input" id="first-input" required type="text">
  <label for="second-input">Word #2</label>
  <input name="second-input" id="second-input"  type="text">
  <label for="third-input">Word #3</label>
  <input name="third-input" id="third-input"  type="text">
  <label for="fourth-input">Word #4</label>
  <input name="fourth-input" id="fourth-input"  type="text">
  <label for="fifth-input">Word #5</label>
  <input name="fifth-input" id="fifth-input" type="text">
  <label for="sixth-input">Word #6</label>
  <input name="sixth-input" id="sixth-input"  type="text">

  <button type="submit">Check your word!</button>

</form>
